@keyframes coinMin{
    0%{
        background-image:url('../images/gfx/bonus/coin1.bmp') ;
    }
    35%{
        background-image:url('../images/gfx/bonus/coin2.bmp') ;
    }
    70%{
        background-image:url('../images/gfx/bonus/coin3.bmp') ;
    }
    100%{
        background-image:url('../images/gfx/bonus/coin4.bmp') ;
    }
}

@keyframes coinMinFall
{
    0% {left:350px;bottom:350px;}
    15%{left:300px;bottom:350px;}                                                                                  
	100% {left:300px;bottom:100px;}
}

.startCoinMin{
    animation-name:coinMin;
    /* 规定动画完成一个周期花费的时间 */
    animation-duration:500ms;
    /* 规定动画的速度曲线 */
    animation-timing-function: linear;
    /* 规定动画播放的次数 无限次 */
    animation-iteration-count: infinite;
}

.startCoinMinFall{
    animation-name:coinMinFall;
    /* 规定动画完成一个周期花费的时间 */
    animation-duration:1000ms;
    /* 规定动画的速度曲线 */
    animation-timing-function: linear;
    /* 规定动画播放的次数 1次 */
    animation-iteration-count: 1;
    /* 动画完成后定格在动画最后一帧 */
    animation-fill-mode:forwards;
}